<html>
<head th:replace="~{base :: head}"> </head>
<body>
<div th:replace="~{base:: logo}"> </div>

<div class="container">
    <div th:replace="~{base::titulo('Novo Pedido!')}"></div>
    <div class="card mt-3">
        <form th:object="${requestPedidoDTO}" class="card-body" th:action="@{novo}" method="post">
            <div class="form-group">
                <label for="nomeProduto">Produto</label>
                <input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control"
                       placeholder="nome do produto"/>
                <small>informe o nome do produto</small>
                <div class="invalid-feedback" th:errors="*{nomeProduto}">
                    erro nome do produto
                </div>
            </div>
            <div class="form-group">
                <label for="urlProduto">Url do produto</label>
                <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control"
                       placeholder="url do produto"/>
                <small>procure em um site o produto que deseja cole o url da pagina aqui</small>
                <div class="invalid-feedback" th:errors="*{urlProduto}">
                    erro url do produto
                </div>
            </div>
            <div class="form-group">
                <label for="urlImagem">Url da imagem</label>
                <input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control"
                       placeholder="url da imagem"/>
                <small>url imagem aqui</small>
                <div class="invalid-feedback" th:errors="*{urlImagem}">
                    url imagem
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descricao</label>
                <textarea th:field="*{descricao}" th:errorclass="is-invalid" class="form-control"
                          placeholder="descricao do produto"></textarea>
            </div>
            <div class="invalid-feedback" th:errors="*{descricao}">
                erro descricao produto
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
</body>
</html>